body{
  font-family: Arial, Helvetica, sans-serif;
}

li{
  display: inline-block;
}

.button li{
  color: rgb(58, 58, 58);
  border-radius: 5px;
  background-color: lightgrey;
  height: 40px;
  width: 200px;
}

.header{
  color: rgb(116, 116, 116);
  background-color: whitevvcd;
  display: flex;
  gap: 30px;
  height: 40px;
  justify-content: end;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: row;
}

.corpus{
  margin: 200px;
}

.logo{
  display: flex;
  justify-content: center;
}

.search, .button, .place{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  align-items: stretch;
  align-content: space-between;
}

.footer{
  color: rgb(126, 126, 126);
  background-color: rgba(175, 175, 175, 0.347);
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.leaf{
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.various link{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
  align-content: space-between;
}

